<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="script.js"></script>
  </header>

  <body>

    <h1> CLMapps </h1>

    <form method="get" action="/results">
    <div id="searchBar">
      <div id="select-bg">
      </div>
        <select name="search-type">
          <option value="city">City</option>
        </select>
      <input type="text" class="search" name="search" size=40px/>
      <input type="submit" class="button" value="Find"/>
    </div>

  </form>


  </body>

</html>
