<!Doctype HTML>
<html>

  <header>
    <title>
      CLMapps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="script.js"></script>
  </header>

  <body>

    <div class="jumbotron">
      <div id = "jtcontent">
        <h1>CLMapps</h1>
        <p>
          Find a business near you!
        </p>
        <p><a class="btn btn-primary btn-lg" href="popularplaces" role="button">See some popular places</a></p>
      </div>
      <br>
      <div id = "searchcontent"><form action = "/results" method = "post">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" name = "typesearch" placeholder="Search for a type of business (i.e. restaurant)" style = "width:450px">
            <br>
            <br>
            <input type="text" class="form-control" name = "locationsearch" placeholder="Search a location (i.e. Ames)" style = "width:450px">
            <br>
            <br>
            <center><button class="btn btn-default" type="submit">Go!</button></center>

          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </form></div>

    </div>




  </body>

</html>
